@import url(http://mcansh.github.io/yeezy-logo-font/assets/css/font.css);


:root{
    --50:white;
    --30:#484848;
    --15:#BFAD9A;
    --5:#F8F9FA;
 
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

h1{
    font-size: 2.rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.4rem;
    font-weight: 800;
}
h4{
    font-size: 1.1rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}
h6{
    color: #d8d8d8 ;
}


button { 
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    background-color:#1d1d1d;
    color: white;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    }

button:hover {
    background-color: #484848;
}
    


.navbar {
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar svg:hover,
.navbar-light .navbar-nav .nav-link.active
.navbar svg.ative {
    color: #BFAD9A;
}

.navStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    
}

.navIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;

}

.navbar svg {
    height: 20px;
    width: 20px;
    cursor:pointer;
    transition: 0.3s ease;
}


.btn-user {
    background-color: transparent;
    padding: 0;
}
.btn-user svg{
    color: #1d1d1d;
    width: 25px;
    height: 25px;
}





#home {
    background-image: url();
    width: 100%;
    height: 77vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


#home span {
   color: var(--15); 
}

#home .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#brand{
    display: flex;
    justify-content: center;
    box-shadow: 3px 4px 6px var(--30);
}

.navBrand{
    width: 50;
    height: 30px;
}

#brand img {
    width: 350px;
    height: 200px;
    align-self: center;
        
}

#new {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30PX;

}

#new .one img {
    width: 100%;
    height: 200px;
    padding: 0px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

#new .one .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    text-align: center;
    padding-bottom: 30px;
}
#new .one .details button {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    margin-top: 10px;
    text-transform: uppercase;
    border-bottom: 5px solid var(--30);
    transition: 0.3s ease;
}

#new .one .details button:hover{
    color: var(--30);
    border-bottom: 1px solid var(--15);
} 

#featured .row {
    display: flex;
    justify-content: center;
    text-align: center; 
    align-items: center;
    margin-top: -25px;
    margin-bottom: 40px;
}

#featured .row .product img{
    padding: 0px 30px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#featured .row .product button{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    margin-top: 10px;
    text-transform: uppercase;
    border-bottom: 5px solid var(--30);
    transition: 0.3s ease;
}
#featured .row .product button:hover{
    color: var(--30);
    border-bottom: 1px solid var(--15);
}

#foot{
    height: 35vh;
    background-color: var(--5);
}

.foooter-col{
    margin-top: 30px;
    width: 25%;
    padding: 0 50px; 
}
.foooter-col h4 {
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin:20px 0;
    font-weight: 700;
    position: relative;
}
.foooter-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--30);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.foooter-col ul li :not(:last-child) {
    margin-bottom: 10px;

} 

.foooter-col ul li a {
    margin: 10px 0;
    font-size: 16px;
    text-transform: capitalize;
    color: #484848;
    text-decoration: none;
    font-weight: 400;
    display: block;
    transition: all 0.3s ease;
} 
.foooter-col ul li a:hover{
color: #1d1d1d;
padding-left: 5px ;

}


.foooter-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--30);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(234, 228, 228);
    transition: all 0.3s ease;

}
.foooter-col .social-links a:hover{
 color: #24262b;
 background-color: #ffff;   
}




